body{
   background: #ffffff;
}
div.header{
    background: linear-gradient(to top, #51E1ED, #ffffff);
    height: 650px;
    width: 1450px;
    -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    left: 0;
    top: 0;
}

/*Header*/
.logo{
    position: absolute;
    left: 200px;
}
.logo img{
    height: 50px;
}
.nav{
    display: flex;
    flex:1 1 0;
    position: absolute;
    right:400px;
    top: 0;
}
.nav a{
    display: block;
    text-decoration: none;
    padding: 16px;
    color: #000000;
    font-family: sans-serif;
    font-size: 15px;

}
.nav li{
    justify-content: space-between;
    list-style-type: none;
}
i.about{
    border:solid #a89d9d;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
    top: 14px;
    position: absolute;
    right: -10px;
}
a.i{
    display: inline;
    top: 0;
    position: absolute;
    right:270px;
}
ul.trial{
    position: absolute;
    right: 200px;;
}
.trial button{
    color: #a92ef0;
    background-color: #ffffff;
    border-color: #a92ef0;
    border-radius: 2em;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

/*first page*/

.first{
    position: absolute;
    right:250px;
    top: 200px;
    width: 1000px;
}
div.version{
    background-color: #f0e4e4;
    border: none;
    border-radius: 2em;
    display: inline;
    padding: 14px;
}
span.one{
    color: #8214c1;
    font-family: 'arial';
    text-decoration: solid;
    font-size: 20px;
}
img.image1{
    position: absolute;
    right: 60px;
    top: -50px;
    animation: animate 10s linear infinite;
}
span.two{
    font-size: 45px;
    color: #000000;
    font-family: 'arial black';
    text-decoration: solid;
}
p.harness{
    font-family: 'times new roman';
}
.more_one, .more_two{
    border-radius: 2em;
    padding: 14px 35px;
    display: inline-block;
    font-size: 17px;
    font-family: 'arial';
}
.more_one{
    border-color: #7c19b6;
    color: #ffffff;
    background-color:#821cbd;   
}
.more_two{
    border-color: #ffffff;
    color: #9a1ee2;
    background-color: #ffffff;
}

/*2nd page*/

div.qubly{
    background: #e4e8d7;
    padding: 17px;
    border-radius: 2em;
    position: absolute;
    top:700px;
    left:45%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap:4px;
}
.qubly span{
    font-size: 19px;
    color: #9a1ee2;
    font-family: 'Lucida Sans';
}
p.three{
    position: absolute;
    top:740px;
    left:28%;
    color: #000000;
    font-family: 'Comic Sans MS';
    font-size: 30px;
}
p.four{
    position: absolute;
    top: 805px;
    left:30%;
    color:#787373;
    font-size: 17px;
    font-family: 'calibri';
    text-align: center;
}
ul.inline{
    position: absolute;
    top: 870px;
    left: 17%;
    display: flex;
}
ul.inline div{
    padding: 16px;
}
ul.inline li img{
    padding: 20px;
}
.icon_one li, .icon_two li, .icon_three li{
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}
.five, .seven, .nine{
    color: #000000;
    font-family: 'Impact';
}
.six, .eight, .ten{
    font-family: 'calibri';
    color:#787373;
    font-size: 17px;
}

/*3rd page*/

img.circle{
    position: absolute;
    top: 1200px;
    left: 16%;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 50s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
div.eleven{
    background: #e4e8d7;
    padding: 10px 25px;
    border-radius: 2em;
    position: absolute;
    top:1350px;
    left:50%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.eleven span{
    font-size: 20px;
    color: #9a1ee2;
    font-family: 'franklin gothic medium';
}
span.twelve{
    position: absolute;
    top: 1420px;
    left: 48%;
    font-family: 'arial black';
    font-size: 33px;
}
span.thirteen{
    position: absolute;
    top:1495px;
    left:47%;
    font-family: 'calibri';
    font-size: 17px;
    color:#787373;
}
img.aws{
    position: absolute;
    top:1750px;
    right: 100px;
}
div.eng{
    background: #e4e8d7;
    padding: 5px 40px;
    border-radius: 2em;
    position: absolute;
    top:1870px;
    left:16%;
    justify-content: space-between;
}
div.eng span{
    font-size: 20px;
    color: #9a1ee2;
    font-family: 'franklin gothic medium';
}
span.fourteen{
    position: absolute;
    top: 1930px;
    left: 17%;
    font-family: 'arial black';
    font-size: 33px;
}
p.fifteen{
    position: absolute;
    top:1985px;
    left:17%;
    font-family: 'calibri';
    font-size: 17px;
    color:#787373;
}

/*4th page*/

div.second{
    position: absolute;
    top: 2200px;
    left: 0;
    width: 100%;
    background: #e5ebf1;
    height: 1000px;
    z-index: -1;
    -webkit-clip-path:polygon(0 25%, 100% 0, 100% 60%, 0 90%); 
    clip-path: polygon(0 15%, 100% 0, 100% 70%, 0% 90%);
}

p.sixteen{
    position: relative;
    top: 180px;
    left: 3%;
    z-index: 1;
    text-align: center;
    color: #000000;
    font-family: 'Bahnschrift';
    font-size: 29px;
}
img.profileone{
    position: relative;
    top: 200px;
    left:48%;
    z-index: 1;
}
p.seventeen, p.eighteen{
    z-index: 1;
    color: #000000;
    font-size: 15px;
    font-family: 'arial black';
    text-align: center;
}
p.seventeen{
    position: relative;
    top: 230px;
    left: 7px;
}
p.eighteen{
    position: relative;
    top: 230px;
    left:6px;
}

hr.hr_one{
    color:#918a8a;
    position: relative;
    top: 240px;
    left:0;
    z-index: 1;
    width: 1000px;
}
div.logotab{
    position: relative;
    top:230px;
    left:15%;
}
ul.logo_tab{
    display: flex;
}
ul.logo_tab li{
list-style-type: none;
}
.logo_tab li img{
    justify-content: space-between;
    padding: 55px;
}

/*5th page*/

p.nineteen{
    font-family: 'arial black';
    font-size: 33px;
    position: absolute;
    top: 3100px;
    left: 19%;
    color: #000000;
}

hr.hr_two{
    position: absolute;
    top:3320px;
    left:19%;
    width: 480px;
    z-index: -1;
    color: #918a8a;
}
span.trust{
    position: absolute;
    top:3310px;
    left:29%;
    font-size: 28px;
    z-index: 1;
    padding: 3px 10px;
    background: #ffffff;
    color: #918a8a;
    font-family: 'calibri';
}
div.logo_grid{
    display: grid;
    position: absolute;
    top:3400px;
    left:20%;
    grid-template-columns: 35px 35px;
    grid-template-rows: 10px 10px;
    grid-column-gap: 200px;
    grid-row-gap: 100px;
}
div.form{
    position: absolute;
    top: 2900px;
    right:7%;
    margin:150px;
    padding: 20px 25px;
    background: #ffffff;
    text-align: center;
    box-shadow: 10px 45px 15px 15px #e2dcdc;
}
p.up{
    font-size: 30px;
    font-family: 'Bahnschrift SemiBold';
    color: #000000;
    text-align: center;
}
input.freetrial{
    background: #7c19b6;
    color: #ffffff;
    font-size: 18px;
    padding: 13px 73px;
    font-family: 'calibri';
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px 1px #c4bebe;
    border-radius: 2px;
    text-align:start;
    margin: 12px;
}
input.ii{
    margin: 24px;
    color: #201c1c;
    background: #ffffff;
    font-size: 18px;
    padding: 13px 73px;
    font-family: 'calibri';
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px 1px #c4bebe;
    border-radius: 2px;
    text-align: left;
}
span.or{
    font-size: 16px;
    margin: 20px;   
    color: #000000;
    font-family: 'arial black';
}
img.g{
    margin: 0;
    width:220px;
}
hr.go{
    width: 300px;
    color: #918a8a;
    border-radius: 2px;
}
span.already{
    font-size: 18px;
    font-family: 'calibri';
    color: #a89d9d;
    padding: 20px 20px;
}
.already a{
    text-decoration: none;
    color: #a92ef0;
}

/*Footer*/

div.footer{
    position: absolute;
    top: 3900px;
    left: 0;
    z-index: -1;
    background-color: #e7ecf3;
    height: 550px;
    background-blend-mode: lighten;
    width: 100%;
}
img.last_logo{
    position: relative;
    top: 50px;
    left:19%;
}
span.lorem{
    position: relative;
    top: 60px;
    left: 19%;
    color: #918a8a;
    font-size: 15px;
    font-family: 'candara';
}
.social{
    display: flex;
    position: relative;
    top: 90px;
    left: 19%;
}
.social img{
    padding: 6px;
}
ul.product{
    position: absolute;
    z-index: 1;
    top: 3930px;
    left:35%;
}
li.a a{
    color: #000000;
    font-size: 19px;
    font-family: 'arial black';
}
.product li, .dev li, .company li, .support li {
    list-style-type: none;

}
.product a, .dev a, .company a, .support a{
    text-decoration: none;
      
}
li a.p, li a.d,li a.c, li a.s{
    color:#918a8a;
    font-size: 16px;
    font-family: 'corbel';
    padding: 5;
}
ul.dev{
    position: absolute;
    top: 3930px;
    left: 43%;
}
ul.company{
    position: absolute;
    top: 3930px;
    left: 54%;
}
ul.support{
    position: absolute;
    top: 3930px;
    left:62%;
}
ul.news{
    position: absolute;
    top: 3930px;
    right:11%;
}
.news .letter{
    text-decoration: none;
    font-family: 'arial black';
    font-size: 19px;
    color: #000000;
}
.news .mail input{
    background: #ffffff;
    color: #271626;
    font-size: 15px;
    font-family: 'arial';
    border: none;
    outline: none;
    padding: 8px 10px;
}
div.mail{
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    box-shadow: 1px 1px 1px #c4bebe;
    display: flex;
    border: #ddd8d8;
}
.mail img{
    cursor: pointer;
}
div.loki hr.loki_two{
    position: absolute;
    width: 1000px;
    left: -400px;
    z-index: -1;
    color: #918a8a;
}
div.loki{
    margin: 50px 50px;
    position: absolute;
    top:4350px;
    left: 43%;
    text-align: center;
}
div.loki a{
    background: #ffffff;
    text-decoration: none;
    position: absolute;
    color: #6c6868;
    font-size: 25px;
    font-family: 'comic sans';
    z-index: 1;
}

/*............................................................Responsiveness.........................................................*/
ul.logo:hover{
    transition: all 1.5s;
    transform: rotate(360deg);
}

ul.nav li:hover{
    background-color: #d5c8c8;
    border-radius: 5em;
}
ul.nav a.i:hover{
    background-color: #d5c8c8;
    border-radius: 5em;
}
ul.trial button:hover{
    color:#ffffff;
    background-color: #7c19b6;
    padding: 17px 32px;
}

button.more_one:hover{
    color:#7c19b6;
    background-color: #ffffff;
}
button.more_two:hover{
    color:#ffffff;
    background-color: #7c19b6;
}
div.icon_one:hover, div.icon_two:hover, div.icon_three:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
img.aws{
    animation: animate 10s linear infinite;
}
div.second:hover .sixteen{
    color:#7c19b6;
    text-shadow: 10px 5px 5px #51E1ED;
    font-weight: 600;
    transition:all 0.3s;
}
div.second:hover .profileone{
    transform: rotate(360deg);
    transition: 1s;
}
ul.logo_tab li:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}
.freetrial:hover{
    cursor: pointer;
    padding: 20px 80px;
    text-decoration: underline;
}
img.g:hover{
    width: 235px;
    transition:cubic-bezier(0.95, 0.05, 0.795, 0.035)
}

.already a:hover{
    padding-left: 33px;
    transition: all 350ms ease-in-out;
}

.last_logo:hover{
width: 110px;
transition: all 350ms ease-in-out;
}

.social img:hover{
  width: 30px;
  transition: all 350ms ease-in-out;
}

ul.product a:hover,ul.dev a:hover, ul.company a:hover, ul.support a:hover{
color:#6c0459;
margin: 5px 5px;
}
img.imgmail:hover{
    padding: 1px;
}


/*Media Queries*/

@media screen and (max-width: 1200px){
    
    section.first{
        position: absolute;
        right: -50px;
    }
    div.header{
        width: 1450px;
    }
    div.qubly{
        position: absolute;
        left: 650px;
    }
    p.three{
        position: absolute;
        left: 400px;
    }

    p.four{
        position: absolute;
        left: 420px;
    }
    ul.inline{
        position: absolute;
        left: 250px;
    }
    img.circle{
        position: absolute;
        left: 150px;
        width: 470px;
        height: 470px;
    }
    div.eleven{
        position: absolute;
        left: 700px;
        padding: 10px 25px;
    }
    span.twelve{
        position: absolute;
        left: 700px;
    }
    span.thirteen{
        position: absolute;
        top: 1500px;
        left: 700px;
    }
    img.aws{
        position: relative;
        top: 1000px;
        left: 650px;
        height: 650px;
        width: 750px;

    }
   
    div.eng{
        position: absolute;
        top: 1800px; 
    }
    div.eng, span.fourteen, p.fifteen{
        position: absolute;
        left: 150px;
    }
    span.fourteen{
        position: absolute;
        top: 1870px;
    }
    p.fifteen{
        position: absolute;
        top: 1940px;
    }
    div.second{
        width: 1450px;
    }
    p.sixteen{
        position: absolute;
        left: 200px;
    }
    div.profile{
        position: absolute;
        top: 150px;
        left: 570px;
    }
    p.seventeen{
        position: relative;
        left: 17%;
        top: 200px;
    }
    p.eighteen{
        position: relative;
        top: 210px;
        left: 18%; 
    }
    hr.hr_one{
        position: absolute;
        left: 100px;
        top: 580px;
        width: 1200px;
    }
    div.logotab{
        position: absolute;
        left: 120px;
        top: 580px;
    }
    p.nineteen{
        position: absolute;
        left: 15%;
        top: 3200px;
    }
    hr.hr_two{
        position: absolute;
        left: 15%;
        top: 3410px; 
    }
    span.trust{
        position: absolute;
        left: 28%;
        top: 3400px;
    }
    div.logo_grid{
        position: absolute;
        left: 19%;
        top: 3500px;
    }
    div.form{
        position: absolute;
        right: -50px;
        top: 3100px;
        margin:100px;
        padding: 15px 20px;
    }
    div.footer{
        width: 1450px;
    }
    img.last_logo{
        position: absolute;
        left: 5%;
    }
    span.lorem{
        position: absolute;
        left: 5%;
        top: 100px;
    }
    div.social{
        position: absolute;
        left: 5%;
        top: 220px;
    }
    ul.product{
        position: absolute;
        left: 23%;
    }
    ul.dev{
        position: absolute;
        left: 33%;
    }
    ul.company{
        position: absolute;
        left: 48%;
    }
    ul.support{
        position: absolute;
        left: 58%;
    }
    ul.news{
        position: absolute;
        left: 70%;
    }
    div.mail{
        position: absolute;
        left: 5%;
    }
    div.loki{
        position: absolute;
        bottom: 0;
        top: 4400px;
    }
}
@media screen and (max-width: 1024px){
    
    div.header{
        width: 1450px;
    }
    ul.logo{
        position: absolute;
        left: 100px;
        transform: scale(2);
    }
    ul.nav{
        position: absolute;
        left: 550px;
    }
    ul.nav li a{
        font-size: 30px;
    }
    a.i{
        position: absolute;
        left: -80px;
    }
    i.about{
        position: relative;
        left: -3px;
        top: -5px;
    }
    ul.trial{
        position: absolute;
        right: 150px;
        transform: scale(1.5);
    }
    section.first{
        position: absolute;
        right: -250px;
    }

    div.qubly{
        position: absolute;
        left: 630px;
        transform: scale(1.5);
    }
    p.three{
        position: relative;
        left: 280px;
        top: 100px;
        font-size: 40px;
    }

    p.four{
        position: absolute;
        left: 400px;
        top: 850px;
        font-size: 25px;
    }
    ul.inline{
        position: absolute;
        left: 350px;
        top: 1100px;
        justify-content: center;
        transform: scale(1.5);
        display: flex;
        flex-wrap: wrap;
    }
    img.circle{
        position: absolute;
        left: 150px;
        top: 1800px;
        width: 470px;
        height: 470px;
    }
    div.eleven{
        position: absolute;
        left: 700px;
        top: 1900px;
        transform: scale(1.2);
        padding: 10px 25px;
    }
    span.twelve{
        position:relative;
        left: 650px;
        top: 1200px;
    }
    span.thirteen{
        position: absolute;
        top: 2100px;
        left: 700px;
        font-size: 25px;
        display: inline;
    }
    img.aws{
        position: absolute;
        top: 2400px;
        left: 900px;
        height: 350px;
        width: 450px;

    }
    div.eng{
        position: absolute;
        left: 150px;
        top: 2450px;
        transform: scale(1.5); 
    }
    span.fourteen{
        position: absolute;
        left: 200px;
        top: 2500px;
        transform: scale(1.5);
    }
    span.fourteen{
        position: absolute;
        top: 2530px;
        left: 100px;
        transform: scale(0.9);
    }
    p.fifteen{
        transform: scale(1.5);
        position: absolute;
        top: 2600px;
        left: 200px;
    }

    div.second{
        position: absolute;
        top: 2900px;
    }
    p.sixteen{
        position: absolute;
        left: 250px;
        transform: scale(1.3);
    }
    div.profile{
        position: absolute;
        top: 150px;
        left: 600px;
        transform: scale(1.1);
    }
    p.seventeen{
        position: relative;
        left: 17%;
        top: 200px;
    }
    p.eighteen{
        position: relative;
        top: 210px;
        left: 18%; 
    }
    hr.hr_one{
        position: absolute;
        left: 60px;
        top: 580px;
        width: 1300px;
    }
    div.logotab{
        position: absolute;
        left: 150px;
        top: 580px;
        transform: scale(1.2);
    }
    
    p.nineteen{
        position: absolute;
        left: 15%;
        top: 3900px;
    }
    hr.hr_two{
        position: absolute;
        left: 15%;
        top: 4110px; 
    }
    span.trust{
        position: absolute;
        left: 26%;
        top: 4100px;
    }
    div.logo_grid{
        position: absolute;
        left: 20%;
        top: 4200px;
    }
    div.form{
        position: absolute;
        right: -250px;
        top: 3850px;
        transform: scale(1.2);
    }

    div.footer{
        position: absolute;
        top: 4800px;
    }
    img.last_logo{
        position: absolute;
        left: 150px;
    }
    span.lorem{
        position: absolute;
        left: 150px;
        top: 120px;
    }
    div.social{
        position: absolute;
        top: 250px;
        left: 150px;
    }
    ul.product{
        position: absolute;
        left: 35%;
        top: 4850px;
        transform: scale(1.2);
    }
    ul.dev{
        position: absolute;
        left: 50%;
        top: 4850px;
        transform: scale(1.2);

    }
    ul.company{
        position: absolute;
        left: 70%;
        transform: scale(1.2);
        top: 4850px;
    }
    ul.support{
        position: absolute;
        left: 85%;
        transform: scale(1.2);
        top: 4850px;
    }
    ul.news{
        position: absolute;
        transform: scale(1.2);
        left: 105%;
        top: 4850px;
    }
    div.mail{
        position: absolute;
        left: 5%;
    }
    div.loki{
        position: absolute;
        bottom: 0;
        top: 5300px;
    }
}

@media screen and (max-width: 768px){
    ul.logo{
        position: absolute;
        left: 100px;
    }
    
    ul.nav{
        position: absolute;
        left: 540px;
    }

    a.i{
        position: absolute;
        left: -80px;
    }
    i.about{
        position: relative;
        left: -4px;
    }
    ul.trial{
        position: absolute;
        right: 100px;
    }
    section.first{
        position: absolute;
        right: -500px;
    }
    div.header{
        position: absolute;
        left: 0px;
        width: 1360px;
    }

    div.qubly{
        position: absolute;
        left: 558px;
        text-align: center;
    }
    p.three{
        position: relative;
        left: 260px;
        top: 800px;
        transform: scale(1.2);
    }

    p.four{
        position: relative;
        left: 280px;
        top: 750px;
        transform: scale(1.2);
    }
    ul.inline{
        position: absolute;
        left: 450px;
        top: 1650px;
        transform: scale(2.5);
    }

    img.circle{
        position: absolute;
        left: 320px;
        top: 3500px;
        width: 770px;
        height: 670px;
    }
    div.eleven{
        position: absolute;
        left: 520px;
        top: 3100px;
        transform: scale(1.8);
        padding: 10px 25px;
    }
    span.twelve{
        position: relative;
        left: 300px;
        top: 2850px;
        font-size: 50px;
    }
    span.thirteen{
        position: relative;
        top: 2900px;
        left: 300px;
        font-size: 40px;
        text-align: center;
    }

    img.aws{
        position: absolute;
        top: 5100px;
        left: 300px;
        height: 650px;
        width: 750px;
    }

    div.eng{
        position: absolute;
        top: 4400px;
        left: 550px;
        transform: scale(2);
    }
    
    span.fourteen{
        position: relative;
        top: 3970px;
        left: 140px;
        font-size: 50px;
     }
    p.fifteen{
        position: absolute;
        top: 4780px;
        left: 500px;
        font-size: 30px;
        text-align: center;
    }
    

    div.second{
        position: absolute;
        top: 5700px;
        width: 1400px;
        height: 1900px;
    }
    p.sixteen{
        position: absolute;
        left: 180px;
        top: 300px;
        font-size: 35px;
        
    }
    div.profile{
        position: absolute;
        top: 300px;
        left: 500px;
        transform: scale(2.5);
    }

    p.seventeen{
        position: relative;
        left: 17%;
        top: 200px;
    }
    p.eighteen{
        position: relative;
        top: 210px;
        left: 18%; 
    }
    hr.hr_one{
        position: absolute;
        left: 100px;
        top: 1150px;
        width: 1200px;
    }
    div.logotab{
        position: absolute;
        left: 300px;
        top: 1200px;
        transform: scale(2);
    }
    ul.logo_tab li img{
        margin: 10px;
        padding: 0;
    }
    p.nineteen{
        position: relative;
        left: 70%;
        top: 6800px;
        transform: scale(1.5);
    }
    hr.hr_two{
        position: absolute;
        left: 58%;
        top: 7820px;
        transform: scale(1.5); 
    }
    span.trust{
        position: absolute;
        left: 73%;
        top: 7810px;
        transform: scale(1.5);
    }
    div.logo_grid{
        position: absolute;
        left: 58%;
        top: 7990px;
        transform: scale(2);
    }
    div.form{
        position: absolute;
        right:-200px;
        top: 8400px;
        transform: scale(1.6);
    }

    div.footer{
        position: absolute;
        top: 9500px;
        height: 1000px;
    }
    img.last_logo{
        position: absolute;
        left: 180px;
        transform: scale(3);
    }
    span.lorem{
        position: absolute;
        left: 180px;
        top: 220px;
        transform: scale(2);
    }
    div.social{
        position: absolute;
        top: 450px;
        left: 150px;
        transform: scale(3);
    }
    ul.product{
        position: absolute;
        left: 70%;
        top: 9600px;
        transform: scale(2);
    }
    ul.dev{
        position: absolute;
        left: 108%;
        top: 9600px;
        transform: scale(2);
    }
    ul.company{
        position: absolute;
        left: 145%;
        top: 9600px;
        transform: scale(2);
    }
    ul.support{
        position: absolute;
        left: 70%;
        top:10100px ;
        transform: scale(2);
    }
    ul.news{
        position: absolute;
        left: 108%;
        top: 10050px;
        transform: scale(2);
    }
    div.mail{
        position: absolute;
        left: 2%;
    }
    div.loki{
        position: absolute;
        bottom: 0;
        top: 10500px;
    }
}
    
@media screen and (max-width: 480px){
    
    ul.logo{
        position: absolute;
        left: 600px;
        top: 100px;
        transform: scale(4);
    }
    
    ul.nav{
        position: absolute;
        left: 660px;
        top: 300px;
        transform: scale(2);
    }

    a.i{
        position: absolute;
        left: -80px;
    }
    i.about{
        position: relative;
        left: -4px;
    }
    ul.trial{
        position: absolute;
        right: 800px;
        top: 550px;
        transform: scale(3);
    }

    div.header{
        position: absolute;
        left: 0px;
        height: 3200px;
        width: 1600px;
    }
    section.first{
        position: absolute;
        right: -1650px;
        top: 500px;
        transform: scale(3);
    }
    img.image1{
        position: relative;
        top: 700px;
        right: 300px;
    }

    div.qubly{
        position: absolute;
        left: 670px;
        top: 3500px;
        transform: scale(5);
        text-align: center;
    }
    p.three{
        position: relative;
        left: 650px;
        top: 3900px;
        transform: scale(2.5);
    }

    p.four{
        position: relative;
        left: 570px;
        top: 4150px;
        transform: scale(3.2);
    }
    ul.inline{
        position: relative;
        left: 450px;
        top: 5300px;
        transform: scale(4);
    }

    img.circle{
        position: absolute;
        left: 320px;
        top: 9100px;
        width: 870px;
        height: 770px;
    }
    div.eleven{
        position: absolute;
        left: 620px;
        top: 7500px;
        transform: scale(2.8);
        padding: 10px 25px;
    }
    span.twelve{
        position: relative;
        left: 500px;
        top: 6650px;
        font-size: 70px;
    }
    span.thirteen{
        position: relative;
        top: 6800px;
        left: 500px;
        font-size: 60px;
        text-align: center;
    }

    img.aws{
        position: absolute;
        top: 12400px;
        left: 300px;
        height: 750px;
        width: 850px;
    }

    div.eng{
        position: absolute;
        top: 10000px;
        left: 550px;
        transform: scale(3);
    }
    
    span.fourteen{
        position: absolute;
        top: 10400px;
        left: 640px;
        transform: scale(2);
     }
    p.fifteen{
        position: absolute;
        top: 11200px;
        left: 600px;
        font-size: 50px;
        text-align: center;
    }
    

    div.second{
        position: absolute;
        top: 13100px;
        width: 1400px;
        height: 2800px;
    }
    p.sixteen{
        position: absolute;
        left: 180px;
        top: 600px;
        font-size: 65px;
        
    }
    div.profile{
        position: absolute;
        top: 700px;
        left: 500px;
        transform: scale(3);
    
    }
    hr.hr_one{
        position: absolute;
        left: 100px;
        top: 1750px;
        width: 1200px;
    }
    div.logotab{
        position: absolute;
        left: 300px;
        top: 1800px;
        transform: scale(2);
    }
    ul.logo_tab li img{
        margin: 10px;
        padding: 0;
    }
    p.nineteen{
        position: relative;
        left: 110%;
        top: 13700px;
        transform: scale(2.5);
    }
    hr.hr_two{
        position: absolute;
        left: 108%;
        top: 16200px;
        transform: scale(2.5); 
    }
    span.trust{
        position: absolute;
        left: 140%;
        top: 16200px;
        transform: scale(2.5);
    }
    div.logo_grid{
        position: absolute;
        left: 109%;
        top: 16590px;
        transform: scale(3);
    }
    div.form{
        position: absolute;
        right:-700px;
        top: 17600px;
        transform: scale(2.6);
    }

    div.footer{
        position: absolute;
        top: 19200px;
        height: 1600px;
    }
    img.last_logo{
        position: absolute;
        left: 320px;
        top: 200px;
        transform: scale(5);
    }
    span.lorem{
        position: absolute;
        left: 320px;
        top: 480px;
        transform: scale(3);
    }
    div.social{
        position: absolute;
        top: 800px;
        left: 220px;
        transform: scale(4);
    }
    ul.product{
        position: absolute;
        left: 210%;
        top: 19500px;
        transform: scale(3);
    }
    ul.dev{
        position: absolute;
        left: 298%;
        top: 19500px;
        transform: scale(3);
    }
    ul.company{
        position: absolute;
        left: 50%;
        top: 20300px;
        transform: scale(3);
    }
    ul.support{
        position: absolute;
        left: 150%;
        top: 20350px ;
        transform: scale(3);
    }
    ul.news{
        position: absolute;
        left: 238%;
        top: 20200px;
        transform: scale(2);
    }
    div.mail{
        position: absolute;
        left: 2%;
    }
    div.loki{
        position: absolute;
        bottom: 0;
        top: 20800px;
        transform: scale(3);
    }
    }
    
    
    
    /*keyf*/
    
    @keyframes rotate{
        from{transform: rotate(-360deg);}
        to{transform: rotate(360deg);}
    }
    @keyframes animate {
        0% {
          scale: 0.6;
        }
        50% {
          scale: 1;
        }
        100% {
          scale: 0.6;
        }
    }