
body{
  background-image: url('./rps\ bgc.jpg');
  background-size: 100%;
  background-blend-mode: darken;
  backdrop-filter: opacity(0.6);
}

nav{
  background: #000000;
  border: none;
  width: 100%;
}

nav ul{
  display: flex;
  flex-direction: row;
  gap: 10px; 
  justify-content: center;  
}

nav ul li{
  list-style-type: none;
}

nav ul li a{
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}
p.heading{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: #808080;
}

.btns button img {
  height: 100px;
  width: 100px;
}


div.btns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  
}
div.btns button{
  display: flex;
  color: #ffffff;
  font-size: 30px;
  margin: 50px;
  border-radius: 30%;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  background-color: #000000;
}

div.btns button:before{
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
div.btns button:active{
  color: #000
}
div.btns button:active:after{
      background: transparent;
}
div.btns button:hover:before{
  opacity: 1;
}
div.btns button:hover{
  font-weight: 600;
  padding: 25px 40px;
  border: 2px solid #ffffff;
  cursor:grab;
}

/* span.computer{
  color: #ffffff;
  background-color: #ff0000;
} */

#result{
  color: #ff0000;
  border: 5px solid #fffb00;
  background-color: beige;
  font-size: 70px;
  font-weight: 700;
  display: flex;
  text-align: center;
  justify-content: center;
  transform: rotateY(360deg);
  transition: 2s;
  filter: drop-shadow(5px 5px 5px #808080);
  -webkit-filter: drop-shadow(5px 2px 2px #808080); 
}

img.loki{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  animation: spin 10s infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }    
}