body{
    background: #070707;
    font-family: 'candara';
}


img.logo{
    position: absolute;
    top: 50px;
    left: 300px;
}

img.bg{
    position: absolute;
    top: -20px;
    left: 400px;
}

ul.nav{
    position: absolute;
    top: 40px;
    left: 750px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

ul.nav li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

button.shop{
    position: absolute;
    top: 40px;
    right: 150px;
    font-size: 15px;
    color: #ffffff;
    background: #202020;
    padding: 20px 45px;
    border: none;
    border-radius: 10px;
}

img.ear{
    position: absolute;
    top: 150px;
    left: 850px;
}

span.beats{
    position: absolute;
    top: 250px;
    left: 800px;
    color: #ffffff;
    font-size: 55px;
}

div.over{
    position: absolute;
    top: 400px;
    left: 800px;
}

span.overview{
    color: #ffffff;
    font-size: 20px;
    font-weight:bolder;
}

p.one{
    color: #d0cccc;
    font-size: 18px;
}

button.bag{
    padding: 17px 16px 17px 16px;
    color: #ffffff;
    background: #202020;
    display: flex;
    gap: 20px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

span.two{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}


ul.icons{
    position: absolute;
    top: 850px;
    left: 300px;
    display: flex;
    list-style-type: none;
    gap: 150px;
}

img.specs{
    position: absolute;
    top: 1100px;
    left: 670px;
}

img.headphone{
    position: absolute;
    top: 1200px;
    left: 770px;
    height: 400px;
}

ul.curve{
    position: absolute;
    top: 1150px;
    left: 450px;
    list-style-type: none;
    margin: 20px;
}

li.battery{
    margin-left: -30px;
    margin-top: 20px;
}

ul.small.list li{
    color: #d0cccc;
    font-size: 15px;
    list-style-type: none;
    margin: 10px    ;
}

li.bt{
    margin: 20px;
}

ul.small.list li.bold{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

img.case{
    position: absolute;
    top: 1800px;
    left: 670px;
}

img.pod{
    position: absolute;
    top: 1900px;
    left: 440px;
}

span.three{
    position: absolute;
    top: 2030px;
    left: 820px;
    font-size: 18px;
    color: #d0cccc;
}

div.minfo{
    position: absolute;
    top: 2200px;
    left: 820px;
    padding: 15px 20px;
    background: #202020;
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

input.info{
    border: none;
    background: none;
    font-size: 15px;
    color: #ffffff;
}

div.immerse{
    position: absolute;
    top: 2500px;
    left: 300px;
    background: #202020;
    border: none;
    border-radius: 10px;
    padding: 10px 420px 0px 150px;
    margin: 0;
    height: 330px;
}

span.four{
    position: relative;
    top: 80px;
    left: 0px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

span.five{
    position: relative;
    top: 100px;
    left: 0px;
    font-size: 15px;
    color: #d0cccc;
}

button.button{
    position: relative;
    top: 120px;
    left: 0px;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 30px;
    background: #000000;
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

img.fold{
    position: relative;
    top: -80px;
    left: 250px;
    margin: 0px;
}

img.style{
    position: absolute;
    top: 3000px;
    left: 600px;
}

div.grid{
    position: absolute;
    top: 3200px;
    left: 400px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    row-gap: 150px;
    column-gap: 100px;
}

div.hone, div.htwo, div.hthree, div.hfour, div.hfive{
    height: 200px;
    width: 200px;
    margin: 20px;
    padding: 5px;
    background: #202020;
    border: none;
    border-radius: 10px;
}

img.black{
    position: relative;
    top: -50px;
    left: 40px;
    height: 150px;
    width: 120px;
}

span.six{
    position: relative;
    left: -110px;
    top: 0px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
}

span.seven{
    position: relative;
    left: 10px;
    top: 0px;
    font-size: 13px;
    color: #d0cccc;
    font-weight: 600;
}

button.sub{
    position: relative;
    bottom: 0;
    left: 120px;
    padding: 5px;
    background: #000000;
    border: none;
    border-radius: 10px;
}

/* footer */

img.last.logo{
    position: absolute;
    top: 3950px;
    left: 300px;
}

ul.list.one{
    position: absolute;
    top: 3950px;
    left: 500px;
    list-style-type: none;
}

ul.list.two{
    position: absolute;
    top: 3950px;
    left: 700px;
    list-style-type: none;

}
ul.list.one li{
    margin: 5px;
}
ul.list.two li{
    margin: 5px;
}
ul.list.one li a{
    text-decoration: none;
    font-size: 17px;
    color: #808080;
}

ul.list.two li a{
    text-decoration: none;
    font-size: 17px;
    color: #808080;
}

ul.list li a.products,ul.list li a.support{
    color: #ffffff;
    font-weight: bolder;
}

div.form{
    position: absolute;
    top: 3970px;
    right: 300px;
    background: #202020;
    padding: 15px 10px 15px 10px;
    border: none;
    border-radius: 10px;
}

div.form input[type=email]{
    background: none;
    border: none;
    color: #ffffff;
}
div.form input[type=email]::placeholder{
    font-size: 15px;
    color: #d0cccc;
    
}

div.form button{
    background: #000000;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    font-size: 13px;
}

ul.social{
    position: absolute;
    top: 4060px;
    right: 430px;
    display: flex;
    list-style-type: none;
    gap: 10px;
}

img.arrow{
    position: absolute;
    top: 3980px;
    right: 20px;
    height: 40px;
    width: 40px;
}

hr.loki2{
    position: absolute;
    top: 4500px;
    left: 200px;
    width: 1100px;
    background: #808080;
}

div.loki{
    position: absolute;
    top: 4600px;
    left: 700px;
}

div.loki a{
    color: #d0cccc;
    font-size: 20px;
    text-decoration: double;
}


/* ..........................Responsiveness............................... */


img.logo:hover{
    transform: scale(1.2);
    transition: all 1.1s;
    border-radius: 50%;
    border: 15px solid #da9705;
}

ul.nav:hover li a{
        transform:scale(1.5);
        opacity:0.2;
        filter:blur(5px);
      }
      
ul.nav li a:hover{
        transform:scale(2);
        opacity:1;
        filter:blur(0);
        text-decoration:none;
        color:#ffffff;
}
      
ul.nav li a:before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#da9705;
        transition:0.5s;
        transform-origin:right;
        transform:scaleX(0);
        z-index:-1;
      }
      
ul.nav li a:hover:before{
        transition:transform 0.5s;
        transform-origin:left;
        transform:scaleX(1);
    }



img.bg:hover {
        animation-name: hoverPop;
        animation-duration: .4s;
        border: 1px solid #da9705;
        border-radius: 40%;
}


button.shop:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s;
    background: #da9705;
    color: #ffffff;
    font-weight: 600;
}

img.ear:hover{
    opacity: 0%;
    transition: 2s;
}

span.beats:hover{
    text-decoration: underline;
    color: #da9705;
    cursor: pointer;
}

button.bag:hover{
    cursor:crosshair;
    transform: scale(1.1);
    transition: all 0.8s;
    background: #da9705;
    font-weight: 600;
}

ul.icons li a img:hover{
    transform: scale(1.1);
    filter: drop-shadow(3px 2px 2px #da9705);
}

img.headphone:hover {
    animation-name: hoverPop;
    animation-duration: .4s;
    cursor: pointer;
}

li.bt:hover, li.battery:hover{
    transition: all 1s;
    padding: 2px;
    color: #fff;
    text-shadow: 0 0 5px #da9705,
                0 0 25px #da9705,
                0 0 50px #da9705,
                0 0 100px #da9705;
}


img.pod:hover{
    animation-name: hoverPop;
    animation-duration: .4s;
    cursor: pointer;
}

span.three:before{
    content:"With a comfortable and adoptable case so that you can store it whenever you want, and keep your durability forever.";
    position:absolute;
    color:#da9705;
    width:0%;
    overflow:hidden;
    transition: all 0.1s;
}
span.three:hover:before{
    width: 100%;
    cursor: zoom-in;
}

div.minfo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.8s;
    background: #da9705;
    font-weight: 600;
}

input.info:hover{
    cursor: pointer;
}

div.immerse:hover .four{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(90deg, #da9705, #fff, #da9705);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: hide 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

div.immerse:hover .fold{
    animation-name: hoverPop;
    animation-duration: .4s;
    cursor: pointer;
}

button.button:hover{
    cursor: pointer;
    font-weight: 600;
    transform: scale(1.1);
    transition: all 0.8s;
    background: #da9705;
}

div.hone:hover, div.htwo:hover, div.hthree:hover, div.hfour:hover, div.hfive:hover{
    transform: scale(1.1);
    transition: all 0.8s;
    box-shadow: 2px 2px 8px 2px #808080;
}

div.hone:hover img, div.htwo:hover img, div.hthree:hover img, div.hfour:hover img, div.hfive:hover img{
    animation-name: hoverPop;
    animation-duration: .4s;
    cursor: pointer;
}

div.hone:hover .seven, div.htwo:hover .seven, div.hthree:hover .seven, div.hfour:hover .seven, div.hfive:hover .seven{
    color: #da9705;
    font-weight: bolder;
    text-decoration: underline;
}

button.sub:hover{
    transform: scale(1.2);
    background: #da9705;
}


img.last.logo:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 1.1s;
    border-radius: 50%;
    border: 15px solid #da9705;
}
ul.list li:hover{
    transform: scale(1.1);
}
ul.list li a:hover{
    transition: all 0.8s;
    color: #da9705;
    text-decoration: underline;
}

div.form:hover button{
    cursor: pointer;
    font-weight: 600;
    background: #da9705;
    transform: scale(1.1);
    transition: all 0.5s;
}

ul.social li a img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

img.arrow:hover{
    cursor: pointer;
}

@keyframes hide {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}
    @keyframes hoverPop {
      0%, 100% {
        transform: scale(1);
      }
      33% {
        transform: scale(1.05);
      }
      66% {
        transform: scale(.90);
      }
    }

    @keyframes slick-hover {
      0.00% {
        transform: translateY(20px) translateX(20px) }
      16.67% {
        transform: translateY(-13px) translateX(-9px) }
      33.33% {
        transform: translateY(4px) translateX(12px) }
      50.00% {
        transform: translateY(20px) translateX(-20px) }
      66.67% {
        transform: translateY(-3px) translateX(8px) }
      83.33% {
        transform: translateY(-15px) translateX(-11px) }
      100.00% {
        transform: translateY(20px) translateX(20px) }
    }
    
    @keyframes slick-hover-2 {
      0.00% {
        transform: translateY(-20px) translateX(-20px) }
      16.67% {
        transform: translateY(3px) translateX(-5px) }
      33.33% {
        transform: translateY(18px) translateX(-10px) }
      50.00% {
        transform: translateY(-20px) translateX(20px) }
      66.67% {
        transform: translateY(15px) translateX(-4px) }
      83.33% {
        transform: translateY(-1px) translateX(15px) }
      100.00% {
        transform: translateY(-20px) translateX(-20px) }
    }


/* Media Queries */

@media screen and (max-width: 1400px)  {
    button.shop{
        position: absolute;
        right: 50px;
    }
}


@media screen and (max-width: 1280px)  {
    
    img.logo{
        position: absolute;
        left: 100px;
    }
    img.bg{
        position: absolute;
        left: 200px;
    }
    ul.nav{

        position: absolute;
        left: 500px;
    }
    button.shop{
        position: absolute;
        right: 100px;
    }

    img.ear{
        position: absolute;
        top: 220px;
        left: 600px;
        margin: 0;
    }
    
    span.beats{
        position: absolute;
        top: 350px;
        left: 600px;
    }

    span.overview{
        position: absolute;
        top: 50px;
        right: 490px;
        transform: scale(1.5);
    }

    p.one{
        position: relative;
        top: 60px;
        right: 140px;
        transform: scale(1.3);
    }
    button.bag{
        position: relative ;
        top: 70px;
        right: 160px;
        transform: scale(1.3);
    }

    ul.icons{
        position: absolute;
        left: 150px;
        transform: scale(1.2);
        gap: 130px;
    }
    img.specs{
        position: absolute;
        left: 500px;
        transform: scale(1.3);
    }
    ul.curve{

        position: absolute;
        left: 200px;
        top: 1300px;
        transform: scale(1.3);
    }
    img.headphone{
        position: absolute;
        left: 600px;
        top: 1350px;
        transform: scale(1.3);
    }
    img.case{
        position: absolute;
        left: 500px;
        top: 2000px;
        transform: scale(1.3);
    }
    img.pod{
        position: absolute;
        left: 300px;
        top: 2200px;
        transform: scale(1.3);
    }
    span.three{
        position: absolute;
        left: 750px;
        top: 2300px;
        transform: scale(1.4);
    }
    div.minfo{
        position: absolute;
        left: 750px;
        top: 2500px;
        transform: scale(1.4);
    }
    div.immerse{
        position: absolute;
        left: 150px;
        top: 2800px;
        transform: scale(1.2);
    }
    img.style{
        position: absolute;
        top: 3300px;
        left: 450px;
        transform: scale(1.3);
    }
    div.grid{
        position: absolute;
        top: 3600px;
        left: 220px;
        transform: scale(1.3);
    }
    img.last.logo{
        position: absolute;
        top: 4450px;
        left: 150px;
        transform: scale(1.3);
    }
    div.form{
        position: absolute;
        right: 150px;
        top: 4450px;
        transform: scale(1.3);
    }

    ul.social{
        position: absolute;
        right: 150px;
        top: 4550px;
        transform: scale(1.3);
    }
    ul.list.one{
        position: absolute;
        top: 4450px;
        left: 300px;
        transform: scale(1.5);
    }
    ul.list.two{
        position: absolute;
        top: 4450px;
        left: 500px;
        transform: scale(1.5);
    }
    img.arrow{
        position: absolute;
        top: 4700px;
        right: 0;
    }

    hr.loki2{
        position: absolute;
        left: 50px;
        top: 5000px;
    }

    div.loki{
        position: absolute;
        left: 48%;
        top: 5000px;
    }
}

@media screen and (max-width: 1024px)  {

    img.logo{
        position: absolute;
        left: 80px;
    }
    img.bg{
        position: absolute;
        left: 100px;
    }
    ul.nav{
        position: absolute;
        left: 350px;
    }
    button.shop{
        position: absolute;
        right: 90px;
        top: 40px;
    }
    img.ear{
        position: absolute;
        left: 500px;
        top: 300px;
    }
    span.beats{
        position: absolute;
        top: 500px;
        left: 500px;
    }

    span.overview{
        position: absolute;
        right: 400px;
        top: 250px;
    }
    p.one{
        position: relative;
        top: 370px;
        right: 270px;
    }

    button.bag{
        position: relative;
        top: 230px;
        right: 670px;
    }

    ul.icons{
        position: absolute;
        top: 1250px;
        left: 160px;
        gap: 50px;
    }

    img.specs{
        position: absolute;
        top: 1500px;
        left: 380px;
    }

    ul.curve{
        position: absolute;
        top: 1850px;
        left: 100px;
    }
    img.headphone{
        position: absolute;
        top: 1900px;
        left: 450px;
    }
    img.case{
        position: absolute;
        top: 2700px;
        left: 380px;
    }
    img.pod{
        position: absolute;
        top: 3100px;
        left: 100px;
    }
    span.three{
        position: absolute;
        top: 3150px;
        left: 600px;
    }

    div.minfo{
        position: absolute;
        top: 3400px;
        left: 600px;
    }

    div.immerse{
        position: absolute;
        top: 3700px;
        left: 100px;
        height: 730px;
        display: inline;
        inline-size:200px;
        transform: scale(0.7);

    }
    span.four{
        position: relative;
        top: 50px;
        left: 0px;
        font-size: 55px;   
    }

    span.five{
        position: relative;
        top: -250px;
        left: 330px;
        font-size: 40px;
}
    img.fold{
        position: relative;
        top: -100px;
        left: 50px;
    }
    button.button{
        position: relative;
        top: -170px;
        left: 350px;
    }
    img.style{
        position: absolute;
        top: 4550px;
        left: 300px;
    }

    div.grid{
        position: absolute;
        top: 5000px;
        left: 200px;
        grid-template-columns: 150px 150px ;
        grid-template-rows: 150px 150px 150px;
        row-gap: 150px;
        column-gap: 100px;
        
    }

    img.last.logo{
        position: absolute;
        left: 100px;
        top: 6200px;
    
    }

    ul.list.one{
        position: absolute;
        left: 350px;
        top: 6250px;
    }
    ul.list.two{
        position: absolute;
        left: 650px;
        top: 6250px;
    }
    div.form{
        position: absolute;
        right: 300px;
        top: 6580px;
    }

    ul.social{
        position: absolute;
        right: 400px;
        top: 6750px;
    }

    img.arrow{
        position: absolute;
        top: 6500px;
        right: 50px;
    }
    hr.loki2{
        position: absolute;
        top: 6900px;
        left: 350px;
        width: 500px;
    }
    div.loki{
        position: absolute;
        left: 48%;
        top: 6900px;
    }
}



@media screen and (max-width: 768px)  {

    img.logo{
        position: absolute;
        left: 100px;
    }

    img.bg{
        position: absolute;
        left: 150px;
    }

    ul.nav{
        left: 500px;
        top: 250px;
        flex-direction: column;
    }
    button.shop{
        position: absolute;
        right: 100px;
        top: 50px;
    }

    img.ear{
        position: absolute;
        left: 150px;
        top: 750px;
    }

    span.beats{
        position: absolute;
        top: 880px;
        left: 170px;
    }

    span.overview{
        position: absolute;
        right: 700px;
        top: 600px;
    }
    p.one{
        position: relative;
        top: 630px;
        right: 600px;
    }
    button.bag{
        position: relative;
        top: 650px;
        right: 620px;
    }

    ul.icons{
        position: absolute;
        top: 1650px;
        left: 80px;
        gap: 30px;
    }

    img.specs{
        position: absolute;
        top: 1900px;
        left: 270px;
    }

    ul.curve{
        position: absolute;
        top: 2150px;
        left: 50px;
    }
    img.headphone{
        position: absolute;
        top: 2200px;
        left: 290px;
        transform: scale(0.97);
    }
    img.case{
        position: absolute;
        top: 2900px;
        left: 280px;
    }
    img.pod{
        position: absolute;
        top: 3050px;
        left: 50px;
        transform: scale(0.9);
    }
    span.three{
        position: absolute;
        top: 3150px;
        left: 450px;
    }

    div.minfo{
        position: absolute;
        top: 3350px;
        left: 450px;
    }

    div.immerse{
        position: absolute;
        top: 3550px;
        left: -20px;
        height: 730px;
        width:200px;

    }
    
    img.style{
        position: absolute;
        top: 4300px;
        left: 200px;
    }

    div.grid{
        top: 4700px;
        left: 100px;
    }

    img.last.logo{
        position: absolute;
        left: 100px;
        top: 5800px;
    
    }

    ul.list.one{
        position: absolute;
        left: 250px;
        top: 5850px;
    }
    ul.list.two{
        position: absolute;
        left: 500px;
        top: 5850px;
    }

    div.form{
        position: absolute;
        right: 250px;
        top: 6200px;
    }

    ul.social{
        position: absolute;
        right: 300px;
        top: 6400px;
    }

    img.arrow{
        position: absolute;
        top: 6500px;
        right: -300px;
    }
    hr.loki2{
        position: absolute;
        top: 6500px;
        left: 50px;
        width: 600px;
    }
    div.loki{
        position: absolute;
        left: 40%;
        top: 6500px;
    }
}

@media screen and (max-width: 480px)  {

    img.logo{
        position: absolute;
        left: 50px;
    }

    img.bg{
        position: absolute;
        left: 70px;
    }

    ul.nav{
        left: 300px;
        top: 250px;
        flex-direction: column;
    }
    button.shop{
        position: absolute;
        right: 40px;
        top: 50px;
    }

    img.ear{
        position: absolute;
        left: 150px;
        top: 750px;
    }

    span.beats{
        position: absolute;
        top: 880px;
        left: 170px;
    }

    span.overview{
        position: absolute;
        right: 700px;
        top: 600px;
    }
    p.one{
        position: relative;
        top: 630px;
        right: 600px;
    }
    button.bag{
        position: relative;
        top: 650px;
        right: 620px;
    }

    ul.icons{
        position: absolute;
        top: 1650px;
        left: 80px;
        gap: 30px;
    }

    img.specs{
        position: absolute;
        top: 1900px;
        left: 270px;
    }

    ul.curve{
        position: absolute;
        top: 2150px;
        left: 50px;
    }
    img.headphone{
        position: absolute;
        top: 2200px;
        left: 290px;
        transform: scale(0.97);
    }
    img.case{
        position: absolute;
        top: 2900px;
        left: 280px;
    }
    img.pod{
        position: absolute;
        top: 3050px;
        left: 50px;
        transform: scale(0.9);
    }
    span.three{
        position: absolute;
        top: 3150px;
        left: 450px;
    }

    div.minfo{
        position: absolute;
        top: 3350px;
        left: 450px;
    }

    div.immerse{
        position: absolute;
        top: 3550px;
        left: -20px;
        height: 730px;
        width:200px;

    }
    
    img.style{
        position: absolute;
        top: 4300px;
        left: 200px;
    }

    div.grid{
        top: 4700px;
        left: 100px;
    }

    img.last.logo{
        position: absolute;
        left: 100px;
        top: 5800px;
    
    }

    ul.list.one{
        position: absolute;
        left: 250px;
        top: 5850px;
    }
    ul.list.two{
        position: absolute;
        left: 500px;
        top: 5850px;
    }

    div.form{
        position: absolute;
        right: 250px;
        top: 6200px;
    }

    ul.social{
        position: absolute;
        right: 300px;
        top: 6400px;
    }

    img.arrow{
        position: absolute;
        top: 6500px;
        right: -300px;
    }
    hr.loki2{
        position: absolute;
        top: 6500px;
        left: 50px;
        width: 600px;
    }
    div.loki{
        position: absolute;
        left: 40%;
        top: 6500px;
    }
    div.immerse:hover .fold{
        animation-name: hoverPop1;
        animation-duration: .4s;
    }
    div.immerse:hover .four{
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 65px;
        letter-spacing: 5px;
        text-align: center;
        overflow: hidden;
        background: linear-gradient(90deg, #da9705, #fff, #da9705);
        background-repeat: no-repeat;
        background-size: 200%;
        animation: hide1 3s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }

}
    @keyframes hide1 {
        0% {
          background-position: -1000%;
        }
        100% {
          background-position: 1000%;
        }
}