body{
  background-image: url('./bgc\ img.jpg');
  background-size: 100%;
  box-sizing: border-box; 
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 10px solid #ffffff;
}

h1{
  
  color: #ffffff;
  font-weight: 900;
  text-decoration: underline;
  text-shadow: 1em;
}

/* div.app{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 10px solid linear-gradient(90deg, #000, #fff, #000);
  border-radius: 10px;
} */

form.form{

  border: 5px solid #ffffff;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

input[type="text"] {

  font-size: 25px;
  font-family: 'monospace';

}

.todos{
  color: #ffffff;
  font-size: 10px;

}

.btntask{
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: none;
}


h1:hover{
font-family: sans-serif;
text-transform: uppercase;
font-size: 50px;
letter-spacing: 3px;
text-align: center;
overflow: hidden;
background: linear-gradient(90deg, #000, #fff, #000);
background-repeat: no-repeat;
background-size: 80%;
animation: hide 3s linear;
-webkit-background-clip: text;
-webkit-text-fill-color: rgba(255, 255, 255, 0);
}

img.loki{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  animation: spin 10s infinite;
}

@keyframes hide {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
