
body{
  background-image: url('./pokebgc.webp');
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 100%;
  backdrop-filter: sepia(0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}


nav{
  position: fixed;
  top: 0px;
  background: linear-gradient(to bottom, #ff0000, #ffff00);
  left: 0px;
  border-bottom: 2px solid #000000;
  height: 50px;
  width: 100%;
  /* padding: 0px 500px 0px 0px; */
}

nav ul{
  display: flex;
  gap: 50px;
  justify-content: center;
}

nav ul li{
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  font-weight: bolder;
}


header span{
  font-size: 15px;
  color: #000000;
  text-align: center;
  position: relative;
  left: 45%;
}

div.main{
  position: absolute;
  top: 100px;
  left: 500px;
  text-align: center;
}


p.head{
  color: #ffffff;
  font-family: 'orbiton';
  font-size: 45px;
  margin: 2px;
  font-weight: 900;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

input[type="text"] {
  background: none;
  border: 5px solid #ffff00;
  border-radius: 50px;
  padding: 10px 100px;
  font-size: 25px;
  color: #ffff00;
  font-weight: 600;
}

/* input[type="text"]:focus {
  background-color: #d2b48c;
} */

input ::placeholder {
  color: #ffffff;
}

p.eg{
  color: #eff151;
  font-size: 20px;
  text-align: center;
}

button{
  background-color: #ff0000;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #ffa500;
}

button:hover{
cursor: pointer;
background-color: #ffffff;
color: #ff0000;
animation: animate 6s linear infinite;
}
@keyframes animate {
    0% {
      scale: 1;
    }
    50% {
      scale: 1.1;
    }
    100% {
      scale: 1;
    }
}

/* Output */

div.output{
  position: absolute;
  top: 450px;
  left: 330px;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-template-rows: 120px 120px;
  /* grid-row-start: 1;
  grid-row-end: 2; */
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  background: none;
  
}

div.output div.info{

  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

img.one{
  position: absolute;
  top: 70px;
  left: -250px;
  height: 80px;
  width: 180px;
}

img.two{
  position: absolute;
  top: 70px;
  right: -250px;
  height: 80px;
  width: 180px;
}

div.info p{
  display: inline;
  margin: 0px;
}

p#name, p#order, p#height, p#weight, p#ability, p#moves, p#stats, p#species, p#exp{
  color: #ffff00;
  font-weight: 900;
}

img#img{
  height: 130px;
  width: 130px;
}

footer{
  position: absolute;
  top: 780px;
  left: 0;
  border-top: 2px solid #000000;
  background: linear-gradient(to bottom, #ff0000, #ffff00);
  height: 30px;
  width: 100%;
}


footer span{
  font-size: 15px;
  color: #000000;
  text-align: center;
  position: relative;
  left: 45%;
}

img.loki{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 10px;
  top: 720px;
  animation: spin 10s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}