body{
    font-family: sans-serif;
    position: relative;
    background: #000000;
}

ul.logoone{
    position: absolute;
    top: 5px;
    left: 60px;
}
nav ul.nav{
    display: flex;
    gap: 40px;
    align-items: center;
    flex:1 1 0;
    position: absolute;
    top: 20px;
    left: 550px;
}
.nav a{
    text-decoration: none;
    font-size: 17px;
    color:#f0fadad9;
}
ul.contact{
    position: absolute;
    right: 50px;
    top: 20px;
}
#google_translate_element p{
    color: #ffffff ;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 1250px;
}
i.eng{
    border:solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 41px;
    position: absolute;
    left: 1292px;
    cursor: pointer;
}
ul.contact a{
    z-index: 1;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'arial';
}
ul.contact img{
    position: absolute;
    z-index: -1;
    right: 70px;

}
.bgone{
    position: absolute;
    left: 580px;
    top: 85px;
    z-index: 1;
}
.bgtwo{
    position: absolute;
    top: 40px;
    left: 400px;
    z-index: -1;
}

p.one{
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 75px;
    color:#f0ffff;
}
p.two{
    position: absolute;
    top: 345px;
    left: 50px;
    text-shadow: none;
    color:#9e8b8b;
    z-index: 0;
}
.purple{
    color: #db19db;
}
.three{
    position: absolute;
    top: 470px;
    left: 70px;
    font-size: 20px;
}
.arrow .three{
    text-decoration: none;
    color: #f0ffff;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
}
.arrow .btn{
    position: absolute;
    z-index:-1;
    top: 456px;
    left: 50px;
    height: 50px;
    width: 50px;
}
.arrow .ar{
    position: absolute;
    top: 475px;
    left: 220px;
    width: 80px;
}
i.bar{
    border-color: linear-gradient(to top, #000000, #ffffff, #000000);
    border-width: 1px;
    border-style: groove;
    height: 45px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    position: absolute;
    top: 580px;
    left: 270px;
}
.users .k1{
    position: absolute;
    top: 580px;
    left: 50px;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}
.users .k2{
    position: absolute;
    top: 585px;
    left: 160px;
    font-size: 15px;
    color: #f0fadad9;
}
.k1 span, .k3 span{
    font-size: 40px;
    color: #db19db;
    font-weight: bold;
}
.users .k3{
    position: absolute;
    top: 580px;
    left: 300px;
    color: #f0fadad9;
    font-size: 40px;
    font-weight: bold;
}
.users .k4{
    position: absolute;
    top: 585px;
    left: 410px;
    font-size: 15px;
    color: #f0fadad9;
}

div.logo{
    position: absolute;
    top: 800px;
    display: flex;
    white-space: nowrap;
    border: 0px;
    background: #484444;
    padding: 40px 130px;
    align-items: center;
}
ul.logoimg li {
    display: inline;
    list-style-type: none;
}
ul.logoimg li img{
    margin: 2px 50px;
}

/* .......................2nd page........................ */

div.four{
    position: absolute;
    top: 1120px;
    left: 50px;
    color: #ffffff;
    font-size: 70px;
}
span.five{
    color:#db19db;
    font-size: 70px;
    font-weight: bold;
}
div.six{
    color: #9e8b8b;
    position: absolute;
    top: 1180px;
    right: 50px;
    font-size: 30px;
}

img.ic{
    display: flexbox;
    width: 45px;
    height: 45px;
}
div.iconone, div.icontwo, div.iconthree{
    background: #1b1b1b;
    border: 1px #ffffff solid;
    background-blend-mode: overlay;
    padding: 50px 80px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
}
div.iconone{
    position: absolute;
    top: 1600px;
    left: 50px;
}
div.icontwo{
    position: absolute;
    top: 1570px;
    left: 580px;
}
div.iconthree{    
    position: absolute;
    top: 1600px;
    right: 50px;
}
img.ic1{
    width: 150px;
    height: 150px;
    margin: 20px;
}
img.ic2{
    width: 150px;
    height: 150px;
    margin: 20px;
}
img.ic3{
    width: 150px;
    height: 150px;
    margin: 20px;
}
span.icone{
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
}
span.ictwo{
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
}
span.icthree{
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
}

/* .....................3rd page...........................*/

div.thirdpage{
    position: relative;
    display: flex;
    background: #ffffff;
    height: 1500px;
    top: 1800px;
}
p.seven{
    position: absolute;
    top: 50px;
    left: 350px;
    font-size: 80px;
    text-align: center;
    color: #101111;
}
span.eight{
    color: #db19db;
    font-weight: bold;
}
p.nine{
    position: absolute;
    top: 400px;
    left: 450px;
    font-size: 20px;
    color: #595555;
}
.vcards{
    position: absolute;
    top: 450px;
    left: 270px;
    width: 1000px;
    height: 1000px;
}
/*...............4th page................*/
p.ten{
    position: absolute;
    top: 3700px;
    left: 320px;
    color:#ffffff;
    font-size: 70px;
    text-align: center;
}
span.eleven{
    font-weight: bold;
    color:#db19db;
}
p.twelve{
    position: absolute;
    top: 4000px;
    left: 490px;
    font-size: 20px;
    color:#b5a5a5;
    text-align: center;
}
div.reviews{
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 250px 250px;
    position: absolute;
    top: 4200px;
    left: 170px;
    column-gap: 50px;
    row-gap: 50px;
}
section.reviewone, section.reviewtwo, section.reviewthree, section.reviewfour{
    border: 1px solid #ffffff;
}
section.reviewone{
    background: #797373;
}
section.reviewtwo{
    background: #1b1b1b;
}
section.reviewthree{
    background: #1b1b1b;
}
section.reviewfour{
    background: #1b1b1b;
}
div.r1, div.r2, div.r3, div.r4{
    color: #ffffff;
    font-size: 22px;
    margin: 10px;
}
.reviewone span, .reviewtwo span, .reviewthree span, .reviewfour span{
    color: #ab9e9e;
    font-size: 15px;
    margin: 10px;
}
.reviewone img, .reviewtwo img, .reviewthree img{
    margin: 5px;
}
ul.fafa{
    position: absolute;
    top: 4850px;
    left: 640px;
    list-style-type: none;
    display: flex;
    gap: 30px;
    color: #ffffff;
}
i.scroll{
    border-color: #db19db;
    border-width: 10px;
    border-style: groove;
    border-radius: 5px;
    height: 70px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
i.fa{
    height: 10px;
    width: 10px;
    color: #ccbbbb;
    background-color: #db19db;
    border: 10px #db19db;
}

/*...............footer.................*/

div.rectangles{
    position: absolute;
    top: 5100px;
}
img.rectone{
    position: absolute;
    z-index:1;
    height: 600px;
    width: 1550px;
}
.recttwo{
    position: absolute;
    z-index:2;
    height: 600px;
    width: 1550px;
}
.rectthree{
    position: absolute;
    z-index:3;
    left: 0px;
    height: 600px;
    width: 700px;
}
.rectfour{
    position: absolute;
    z-index:4;
    left: 850px;
    height: 600px;
    width: 700px;
}
p.last{
    color:#ffffff;
    font-size: 55px;
    position: relative;
    z-index: 5;
    left: 420px;
    top: 90px;
    text-align: center;
}
p.last span{
    color: #000000;
    font-weight: 200;
}
div.arrowtwo{
    position: relative;
    z-index: 6;
    top: 80px;
    left: 650px;
}
div.arrowtwo a{
    text-decoration: none;
}
span.thirteen{
    font-size: 30px;
    color:#ffffff;
    text-decoration: solid;
    z-index: 7;
    left: 30px;
}
.arrowtwo .btn_two{
    position: absolute;
    top: -18px;
    left: -25px;
    z-index: -1;
    height: 70px;
    width: 80px;

}
.arrowtwo .ar_two{
    position: absolute;
    top: 10px;
    left: 220px;
}
img.footlogo{
    position: absolute;
    top: 5900px;
    left: 80px;
    height: 200px;
    width: 200px;
}
ul.footer{
    position: absolute;
    top: 5970px;
    left: 500px;
    display:flex;
    color:#ccbbbb;
    gap: 50px;
}

ul.footer a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
p.loki{
    position: absolute;
    top: 6400px;
    left: 60px;
    font-size: 25px;
    color: #595555;
    text-shadow: #db19db;
}

/* ..............................Responsiveness.................................... */

ul.logoone img:hover{
    transition: all 0.65s;
	transform: rotateY(360deg);
}
ul.nav li a:hover{
    background: #db19db;
    padding: 20px;
    border-radius: 20px;
}
ul.contact:hover{
    transition: all 0.65s;
	transform: rotateY(360deg);
}
div.arrow::before {
    background: #db19db;
    content: "";
    inset: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}
.arrow:hover::before{
    position: absolute;
    transform: scaleX(1);
    transform-origin: left;
}
.users .k1:hover, .users .k3:hover{
    transition: all 1s;
    padding: 2px;
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
ul.logoimg img:hover{
    padding-bottom: 10px ;
    padding-top: 10px;
    cursor: pointer;
    border-top: 5px #db19db solid;
    border-bottom: 5px #db19db solid;
    border-width: 10px;
    
}
div.six:before{
    content:"The following are the services we provide to users, with the services we maximize   it is hoped that users are satisfied with what we provide.";
    position:absolute;
    color:#db19db;
    width:0%;
    overflow:hidden;
    transition:all 0.3s;
  }
  div.six:hover:before{
    width: 100%;
  }
  div.iconone:hover, div.icontwo:hover, div.iconthree:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    color: #fff;
    text-shadow: 0 0 5px #db19db,
                0 0 25px #db19db,
                0 0 50px #db19db,
                0 0 100px #db19db;
    font-size: 35px;
  }
img.ic1:hover, img.ic2:hover, img.ic3:hover{
    background-image: linear-gradient(#000000, #db19db);
    border-radius: 150px;
}
p.seven:hover{
        -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 200%;
        animation: shine 2s infinite;
      }
      
      @-webkit-keyframes shine {
        from {
          -webkit-mask-position: 150%;
        }
        
        to {
          -webkit-mask-position: -50%;
        }
}
img.vcards:hover{
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
      scale: 1;
    }
    50% {
      scale: 0.6;
    }
    100% {
      scale: 1;
    }
  }
  p.ten:hover{
    border: 5px solid #db19db; 
  }

  p.twelve:after, p.twelve:before{
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  height: 3em;
  width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;	
}
p.twelve:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}
p.twelve:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}
p.twelve:hover:after, p.twelve:hover:before {
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.reviewone:hover, .reviewtwo:hover, .reviewthree:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    color: #fff;
    text-shadow: 0 0 5px #db19db,
                0 0 25px #db19db,
                0 0 50px #db19db,
                0 0 100px #db19db;
}

div.rectangles:hover{
    font-weight: 700;
}
div.arrowtwo::before{
    background: #ffffff;
    content: "";
    inset: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -3;
    width: 210px;
    height: 50px;
}
.arrowtwo:hover::before{
    position: absolute;
    transform: scaleX(1);
    transform-origin: left;
}
.arrowtwo .thirteen:hover{
    color: #000000;
}
img.footlogo:hover{
    transition: all 0.65s;
	transform: rotateY(360deg);
    height:250px; width:250px;
}
ul.footer a:hover{
    background: #db19db;
    padding: 20px;
    border-radius: 20px;
}
ul.footer:hover{
    transition: all 0.65s;
}


/* ...................................Media Queries............................................... */